<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="rectangle" class="com.mycompany.app.dixml.Rectangle">
       <property name="length" value="5"/>
        <property name="breadth" value="6"/>

    </bean>

    <bean id="canvas" class="com.mycompany.app.dixml.Canvas">
        <property name="shape" ref="rectangle"/>
    </bean>

</beans>